*{
    box-sizing: border-box;
}
.container-about{
    position:relative;
    height: 100%;
}

.content{
   
    
 
   
}
.content p, .container-about h1{
    color: white;
}

.absolute-content{
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100%;
    border-radius: 1rem;
    margin: 20px;
}

@media  (min-width: 568px){
    .absolute-content{
        height: 100%;
        display: flex;
        justify-content: center;
        
     
    }
}
    
