.popup{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    
}
.popup-inner{
    background-color: white;

    
}
.close-button{
    position: absolute;
    right: 10%;
    color: red;
}
@media (min-width:580px){
    .close-button{
        position: absolute;
        right: 10%;
        color: red;
        font-size: 20px;
        font-weight: bold;
    }
}